body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

button {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1rem;
  border-radius: 10px;
  width: 6rem;
  height: auto;
  background-color: #8d55c2;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #844db8;
}

#quiz input[type='radio'] {
  display: none;
}

#quiz input[type='radio'] ~ *::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

#quiz input[type='radio']:checked ~ *::before {
  background-color: #8d55c2;
}

#quiz input[type='radio']:checked + * {
  color: #8d55c2;
}

.box {
  width: 600px;
  background-color: rgba(241, 240, 240, 0.609);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  border-radius: 10px;
  margin: 0 auto;

  background: #fff;
}

#admin-div {
  margin-top: 25px;
}

#quiz {
  margin-bottom: 25px;
}

.box-body {
  padding: 4rem;
}

.box-body-admin {
  padding: 2rem;
}

.box-title {
  font-size: 1.6rem;
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.group {
  margin: 2rem 0 2rem 0;
}

#submit {
  float: right;
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  padding: 0px;
  background-color: #8d55c2;
  color: #fff;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #999;
  z-index: 4;
}

.auto_height {
  width: 100%;
}


@media (max-width: 600px) {
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #submit {
    margin-right: 5px;
  }

  button {
    margin: auto;
  }
}

/* Ref: W3Schools */
/* Modal */
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  left: 25%;
  right: 25%;
  bottom: 0;
  margin-bottom: 2rem;
  border-radius: 10px;
  background-color: #fefefe;
  width: 50%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  background-color: #8d55c2;
  color: white;
}

.form-check-input[type='radio']:checked {
  background-color: #8d55c2;
  border: #8d55c2;
  background-image: none;
}

textarea {
  border: none;
  border-radius: 10px;
}

.form-control {
  border: none;
  border-radius: 10px;
}

.input-group-text {
  background-color: white;
  border: none;
}

#add-option {
  text-decoration: none;
}

@media (max-width: 800px) {
  .modal-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

