body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );

  font-family: 'Poppins', sans-serif;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 1.2rem;
  margin: 1rem 0;
}

ul li label {
  cursor: pointer;
}

button {
  font-size: 1.2rem;
  font-family: inherit;
  padding: 1.3rem;
  border-radius: 2rem;
  width: 7rem;
  height: auto;
  background-color: #8d55c2;
  color: #fff;
  border: none;
}

button:hover {
  background-color: #844db8;
}

.card {
  background-color: rgba(241, 240, 240, 0.609);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  width: 600px;
  /* color: white; */
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  border-radius: 10px;
}

.card-body {
  padding: 4rem;
}

.card-title {
  font-size: 1.4rem;
  padding: 1rem;
  text-align: center;
  margin: 0;
}

.text-info {
  color: #8d55c2 !important;
}

.group {
  margin: 2rem 0 2rem 0;
}

#next {
  float: right;
}

#prev {
  float: left;
}

#submit {
  float: right;
}

/* Change radio button styles */
input[type='radio'] {
  display: none;
}

input[type='radio'] ~ *::before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.3rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
  border-color: gray;
}

input[type='radio']:checked ~ *::before {
  background-color: #8d55c2;
}

input[type='radio']:checked + * {
  color: #8d55c2;
}

@media (max-width: 600px) {
  .card {
    width: auto;
  }
  .group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #next {
    margin-left: 5px;
  }

  #prev {
    margin-right: 5px;
  }

  #submit {
    margin-right: 5px;
  }

  button {
    margin: auto;
  }
}
